<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gaurav.hungergo">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginscreenActivity" />
        <activity android:name=".Loginmain" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".ForgetPassword" />
        <activity android:name=".Web1" />
        <activity android:name=".Web2" />
        <activity android:name=".Web3" />
        <activity android:name=".Terms_and_condition" />
        <activity android:name=".Dashboard_main" />
        <activity android:name=".vegSectionCustomList.activity.Veg_section" />
        <activity android:name=".non_veg_section.activity.Nonvegsection" />
        <activity android:name=".braverages_section.activity.Braveragersection" />
        <activity android:name=".fastfood_section.activity.Fast_food_section" />
        <activity android:name=".sweets_section.activity.Sweets_section" />
        <activity android:name=".cart_custom_list.activity.Cart_Checkout"></activity>
    </application>

</manifest>